<div class="flex-auto p-2 sm:p-2 rounded-t-2x1  bg-card bg-default">
  <mat-card style="border-radius: 12px;">
    <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 sm:px-10 border-b  dark:bg-transparent">
    <div class="flex-1 min-w-0">
        <!-- Title -->
        <div class="mt-2">
            <h2 class="text-3xl md:text-2xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
               PATIENT DETAILS
            </h2>
        </div>
    </div>
   
    <!-- Actions -->
    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
        <button routerLink="add" mat-stroked-button style="color: #4F46E5;">
            <mat-icon class="icon-size-5 mr-2" style="color: #4F46E5;"
                [svgIcon]="'mat_outline:add_moderator'" ></mat-icon>
            Add
        </button>
        <!-- <button class="ml-3" mat-flat-button style="color: #0D9488;">
            <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:link'"></mat-icon>
            Save
        </button> -->
    </div>

    <!-- <router-outlet></router-outlet> -->
  </div>
<div>
  <div class="row">
    <div class="row" >
      <div class="grid-item">
          <mat-form-field appearance="fill" class="search-field" style="width:500px;">
              <mat-label>HRN NO</mat-label>
              <input matInput [(ngModel)] = "objload.HRN"  placeholder="Search...">
          </mat-form-field>

      </div>
  </div>
  </div>
  <div class="row">
    <mat-table [dataSource]="dataSource" class="mat-elevation">
     
      <ng-container matColumnDef="Sno">
        <mat-header-cell *matHeaderCellDef> S.No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
    
  
      <ng-container matColumnDef="HRN_No">
        <mat-header-cell *matHeaderCellDef> HRN No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
    
     
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>
    
    
      <ng-container matColumnDef="DBO">
        <mat-header-cell *matHeaderCellDef> DBO </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>
      
        <ng-container matColumnDef="Sex">
          <mat-header-cell *matHeaderCellDef> Sex </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container>
        
      <ng-container matColumnDef="Speaking_English">
        <mat-header-cell *matHeaderCellDef> Speak Eng </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>
 
  <ng-container matColumnDef="Action" >
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" matTooltip="View this row"
            
            id="iconTableButton" [matTooltipClass]="' custom-tip '">
            <mat-icon aria-label="View this row" class="f-14">
                remove_red_eye
            </mat-icon>
        </button>
        <button mat-icon-button color="accent" matTooltip="Edit this row"
         
            id="iconTableButton" [matTooltipClass]="'custom-tip'">
            <mat-icon aria-label="Edit this row" class="f-14">
                edit
            </mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Delete this row"
            id="iconTableButton"
            [matTooltipClass]="'custom-tip'">
            <mat-icon aria-label="Delete this row" class="f-14">
                delete
            </mat-icon>
        </button>
    </mat-cell>
</ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</div>
  

  </mat-card>
  </div>