<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 sm:px-10 border-b  dark:bg-transparent">
    <div class="flex-1 min-w-0">
        <!-- Title -->
        <div class="mt-2">
            <h2 class="text-3xl md:text-2xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
               PATIENT DETAILS
            </h2>
        </div>
    </div>
    <!-- Actions -->
    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
        <button mat-stroked-button style="color: #4F46E5;">
            <mat-icon class="icon-size-5 mr-2" style="color: #4F46E5;"
                [svgIcon]="'mat_outline:add_moderator'"></mat-icon>
            Edit
        </button>
        <button class="ml-3" mat-flat-button style="color: #0D9488;">
            <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:link'"></mat-icon>
            Save
        </button>
    </div>
</div>
    <div class="flex-auto -mt-8 p-2 sm:p-2 rounded-t-2x1  bg-card bg-default">
      <mat-card style="border-radius: 12px;"> 
        <mat-card-content>
          <div class="card-body">
          <div class="row">
    <div class="col-sm-3">
    <mat-form-field  style="width: 20%;">
            <mat-label>IC#</mat-label>
            <input matInput type="text" class="form-control" maxlength="10" autocomplete="off">
        </mat-form-field>
        <mat-form-field style="width: 12%;">
          <mat-label>Title</mat-label>
          <mat-select>
            <mat-option value="one">MR</mat-option>
            <mat-option value="two">MRS</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field style="width: 25%;">
        <mat-label>Name</mat-label>
        <input matInput type="any" maxlength="100">
    </mat-form-field>
    <mat-form-field  style="width: 30%;">
      <mat-label>HRN</mat-label>
      <input matInput type="text" class="form-control" maxlength="10" autocomplete="off">
  </mat-form-field>
  </div>  
          </div> 
       
  <div class="row">
        <div class="col-sm-3">
          <mat-form-field style="width: 20%;">
            <mat-label>Nursing</mat-label>
            <mat-select>
              <mat-option value="one">1</mat-option>
              <mat-option value="two">2</mat-option>
          </mat-select>
        </mat-form-field>
      <mat-form-field style="width: 70%;">
        <mat-label>N</mat-label>
        <input matInput type="any" maxlength="100">
    </mat-form-field>
        </div>
      </div>
    
  <div class="row">
        <div class="col-sm-3">
          <mat-form-field style="width: 20%;">
            <mat-label>Date Of Birth</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle style="translate: 100%;" matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="width: 20%;" >
            <mat-label>Age</mat-label>
            <input matInput type="number">
        </mat-form-field>
        <mat-form-field style="width: 20%;">
            <mat-label>Sex</mat-label>
            <mat-select>
              <mat-option value="one">Male</mat-option>
              <mat-option value="two">Female</mat-option>
              <mat-option value="three">Others</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field style="width: 28%;" >
          <mat-label>Ward/Bed</mat-label>
          <input matInput type="text">
      </mat-form-field>
     
        </div>
    </div>
  
  </div>
    </mat-card-content>
  </mat-card>  
  </div>    
      

   
    &nbsp; 
<!-- /stepper -->
<div class="flex-auto -mt-8 p-2 sm:p-2 rounded-t-2x1  bg-card bg-default">
    <mat-card style="border-radius: 12px;">
      <mat-stepper orientation="vertical" #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="required">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Personal Details</ng-template>
            <p><b>Personal Details</b></p>
            <div class="patient-1">
            <mat-form-field >
              <mat-label>E-mail</mat-label>
              <input matInput type="email" formControlName="basicCtrl" required>
            </mat-form-field>
            <mat-form-field >
                <mat-label>Mobile</mat-label>
                <input matInput type="tel" formControlName="firstCtrl" required>
              </mat-form-field>
              <mat-form-field >
                <mat-label>Patient Type</mat-label>
                <mat-select>
                    <mat-option value="one">VIP</mat-option>
                    <mat-option value="two">General</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
                <p class="title"><b>Proof of Resident Details</b></p>
                <div class="patient-1">
                    <mat-checkbox class="example-margin">Resident</mat-checkbox>
                    <mat-form-field >
                        <mat-label>Identity Doc.</mat-label>
                        <mat-select>
                            <mat-option value="one">Aadhar</mat-option>
                            <mat-option value="two">Driving Licence</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field >
                        <mat-label>ForeignIC#</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Doc#</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Recall Date</mat-label>
                        <input matInput [matDatepicker]="pickdate">
              <mat-datepicker-toggle matIconSuffix [for]="pickdate"></mat-datepicker-toggle>
              <mat-datepicker #pickdate></mat-datepicker>
                    </mat-form-field>
                    </div>
            <div class="button">
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Additional Details">
          <form [formGroup]="secondFormGroup">
            <p><b>Emergency Contact Details</b></p>
            <div class="patient-1">
            <mat-form-field >
                <mat-label>Contact Person</mat-label>
                <input matInput type="tel" formControlName="secondCtrl" required>
              </mat-form-field>
              <mat-form-field >
                <mat-label>Fax</mat-label>
                <input matInput type="fax" required>
              </mat-form-field>
              <mat-form-field >
                <mat-label>Residential tel</mat-label>
                <input matInput type="tel" required>
              </mat-form-field>
              <mat-form-field >
                <mat-label>Office tel</mat-label>
                <input matInput type="tel" required>
              </mat-form-field>
              <p><b>Employment Details</b></p>
              <mat-form-field >
                <mat-label>Previous Total Deposit</mat-label>
                <input matInput type="number">
            </mat-form-field>
            <mat-form-field >
                <mat-label>Subsidy Group</mat-label>
                <input matInput type="number">
            </mat-form-field>
            <mat-form-field >
                <mat-label>Billing Account</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field >
                <mat-label>Previous Total Dues</mat-label>
                <input matInput type="number">
            </mat-form-field>

            <p><b>Medical Details</b></p>
            <mat-form-field >
              <mat-label>Medical Record</mat-label>
              <input matInput type="text">
          </mat-form-field>
          <mat-form-field >
              <mat-label>Last Visit</mat-label>
              <input matInput type="date">
          </mat-form-field>
          <mat-form-field >
              <mat-label>Recall Date</mat-label>
              <input matInput type="date">
          </mat-form-field>
          <mat-form-field >
              <mat-label>Patient Status</mat-label>
              <input matInput type="text">
          </mat-form-field>
          <mat-form-field >
            <mat-label>Wavier reference</mat-label>
            <input matInput type="text">
        </mat-form-field>
        </div>
        <div class="patient-1">
        <mat-form-field >
            <mat-label>Recall Period</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field >
            <mat-label>Wavier Group</mat-label>
            <mat-select>
                <mat-option value="one">Known</mat-option>
                <mat-option value="two">Not-Known</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 150%;" >
            <mat-label>Remarks</mat-label>
            <input matInput type="text">
        </mat-form-field>
        </div>
            <div class="button">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" label="Medical Alert">
            <form [formGroup]="thirdFormGroup">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                  </ng-container>
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                  </ng-container>
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="weight">
                    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                  </ng-container>
                
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="symbol">
                    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                  </ng-container>
                
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-form-field appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput formControlName="thirdCtrl" placeholder="Ex. 1 Main St, New York, NY"
                         required>
                </mat-form-field>
              <div class="button">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="fourthFormGroup" label="ADR">
            <form [formGroup]="fourthFormGroup">
              <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="fourthCtrl" placeholder="Ex. 1 Main St, New York, NY"
                       required>
              </mat-form-field>
              <div class="button">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="fifthFormGroup" label="Special Program">
            <form [formGroup]="fifthFormGroup">
              <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="fifthCtrl" placeholder="Ex. 1 Main St, New York, NY"
                       required>
              </mat-form-field>
              <div class="button">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div class="button">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
    </mat-card>
</div>
</body>
</html>