  .mat-elevation{
    width: 100%;
    max-height: 500px;
    overflow: auto;
    border-radius: 12px;
  }
  .mat-column-name {
    height: 70px;
  }
  .example-cardleft {
    max-width: 100%;
  }
  .mat-header-row {
    position: sticky;
    top: 0;
    background-color: #7aebff; /* Adjust the background color as needed */
    z-index: 1;
  }

  